html,
body {
    height: 100%;
}

.bg-image {
    background-image: url('../images/signin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-width {
    width: 23rem;
}

.custom-font {
    font-size: 1.5rem;
}

.custom-spacing {
    letter-spacing: 1px;
}
