
.container{
    border-color: blue;
    border-style: solid;
}

.menu {
    border-color: lightblue;
    border-style: dashed;
    border-radius: 20pt;
}

.globe {
    width: 100%;
    background-color: white;
    border-radius: 20pt;
}

.new {
    background-color: green;
}



.img3{
    width: 100%;
    border-color: blue;
    border-style: solid;
}

.img2{
    width: 100%;
    border-radius: 0pt 20pt 20pt 0pt;
    color: black;
}